:root {
    --bg-color: #080808;
    --text-color: white;
    --main-color: #e4b381;
    --secondary-color: #ffac58;
}

.spaceTemp{
    padding: 80px;
}
.spaceTemp button{
    background-color: var(--main-color);
    border:none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px !important;
    width: 300px;
    height: 100px;
}


body.showCart .cartTab{
    inset: 100px 0 0 auto;
}
body.showCart .mainC {
    filter: blur(5px); /* Застосовуємо блюр до всього body */
    transition: filter 0.5s ease; /* Додаємо перехід для блюру */
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0); /* Початкове затемнення з чорним кольором та прозорістю 0.0 */
    z-index: -1; /* Шар повинен бути вище за інші елементи */
    display: hidden;
}
body.showCart .shadow{
    z-index: 3;
}
.mainC{
    transition: transform .5s;
}
body.showCart .mainC{
    transform: translateX(-100px);
    transition: transform .5s;
}
.cartTab{
    padding: 10px;
    z-index: 4;
    width: 450px;
    background-color: rgb(17, 16, 16);
    color: var(--text-color);
    position: fixed;
    inset: 80px -450px 0 auto;
    display: grid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    grid-template-rows: 70px 1fr 70px 50px 10px 50px 20px;
    transition:.5s;
}
.cartTab p{
text-align: center;
}
.cartTab h1{
    margin: 0 10px 0 10px;
    padding: 20px;
    margin: 0;
    font-weight:300;
    border-bottom: rgba(255, 255, 255, 0.204) solid .5px;
}

.totalPrice{
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    border-top: rgba(255, 255, 255, 0.204) solid .5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 300px;
    
}
.cartTab .totalPrice span{
    font-size: 1.1rem;
    font-weight:700;
}
.cartTab .btn2{
    border-top: rgba(255, 255, 255, 0.204) solid .5px;;
    padding-top:10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    margin-left:10px;
    margin-right:10px;
}
.cartTab .btn2 button{
    background-color: var(--main-color);
    border:none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px !important;
    border: var(--main-color) solid 3px;
    transition: background-color 0.1s;
}
.cartTab .btn2 .check{
    background-color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn2 .check2{
    background-color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn2 button:hover{
    transition:.5;
    background-color:var(--secondary-color);
}
.cartTab .btn3{
    display: grid;
    margin-left:10px;
    margin-right:10px;
}
.cartTab .btn3 button{
    background-color: var(--main-color);
    border:var(--main-color) solid 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px !important;
    transition: background-color 0.1s;
}
.cartTab .btn3 button:hover{
    transition:.5;
    background-color:var(--secondary-color);
}
.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: var(--text-color);
}
.listCart .item:nth-child(even){
    background-color: rgba(255, 255, 255, 0.05);
}
.listCart{
    margin-top:10px;
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}