:root {
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --bg-color: #080808;
    --text-color: white;
    --main-color: #e4b381;
    --secondary-color: #ffac58;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: url(assets/background-2.jpg);
    color: var(--text-color);
    
}
.grid-container {
    margin-top: 80px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 252, 252, 0.3);    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
    max-width: 968px;
    max-height: 1000px;
    height: auto;
    color: var(--text-color);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1.5fr 1px 1fr;
    grid-gap: 40px;
}

.divborder {
    max-width: 1px;
    border-left: 2px solid rgba(255, 255, 255, 0.4);
}

/* цейво, це поля введення знизу, та...*/
.checkout-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.line1 .input,
.line1 .label {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-gap: 20px;
}

.input {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    padding-top: 110px;

}

/* я не знаю як воно працює, вкрав з інтернетів, але виглядає класно, та...*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--text-color);
    outline: 0;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    transition: background-color 0.2s;


    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.5rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--text-color);
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 700;
        
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, --secondary-color, --text-color);
    border-image-slice: 1;
    background-color: rgba(0, 0, 0, 0.05);
}

/* reset input */
.form__field {

    :required,
    :invalid {
        box-shadow: none;
    }
}

/* тута буде кошик для чекауту, я хз як його робити, але тут щось буде */

.cart {
    background-color: transparent;
    color: var(--text-color);
    display: grid;
    grid-template-rows: .8fr 350px 1fr 1fr;
    max-height: 100%;
    border-radius: 15px !important;

}

.cart h1 {
    margin: 0 10px 0 10px;
    margin: 0;
    font-weight: 300;
    border-bottom: rgba(0, 0, 0, 0.204) solid .5px;

}

.image {
    position: relative;
}

.cart .listCart .item img {
    display: block;
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .4);
    color: white;
    transition: opacity .3s ease;
}

.cart .listCart i {

    text-align: center;
    font-size: 4rem;
}

.overlay:hover {
    opacity: 1;
}

.cart .listCart .item {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    text-align: center;
    align-items: center;
}

.listCart .item:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.listCart {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

.totalPrice {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: rgba(0, 0, 0, 0.204) solid .5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 220px;
}

.cart span {
    font-size: 1.1rem;
    font-weight: 700;
}

.cart .btnCheck {
    display: grid;
}

.cart .btnCheck button {
    background-color: var(--main-color);
    border: var(--secondary-color) solid 3px;
    border-radius: 15px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.6s, border 0.3s;
}

.cart .btnCheck button:hover {
    background-color: var(--orange-color);
    border: var(--secondary-color) solid 0px;
}

/* вдалого дня тому хто це читає с: */