
:root {
    --light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --bg-color: #080808;
    --text-color: white;
    --main-color: #e4b381;
    --secondary-color: #ffac58;

}

body{
    background: url(assets/background-2.jpg);
    color: var(--text-color);
}
.products{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 100px;
}
.products .heading a:hover{
    cursor: pointer;
}
.products-conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-conatiner .box{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}

.products-conatiner .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-conatiner .box span{
    font-weight: 500;
    font-size: 2rem;
}

.products-conatiner .box h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.products-conatiner .box .price{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange-color);
}

.products-conatiner .box .price span{
    color: var(--text-color);
}

.products-conatiner .box .bx-cart{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--main-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}

.products-conatiner .box .bx-cart:hover{
    background: var(--orange-color);
    transition: 0.2s all linear;
    cursor: pointer;
}

.products-conatiner .box .bx-heart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--light-orange-color);
}

.products-conatiner .box .discount{
    position: absolute;
    top: 1rem;
    left: 0;
    background: var(--light-orange-color);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 98%, 0 100%, 0% 50%);
}
